<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue Practice</title>
		<script src="https://unpkg.com/vue@3"></script>
	</head>
	<body>
    <div id="app">
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide books</span>
        <span v-if="!showBooks">Show books</span>
      </button>
			<div v-if="showBooks">
				<p>{{title}} - {{author}}, {{releaseYear}} - Rating: {{rating}}</p>
				<button @click="increaseRating">Increase rating</button>
				<button @click="decreaseRating">Decrease rating</button>
			</div>
		</div>
		<script src="./app.js"></script>
	</body>
</html>
