<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue Practice</title>
		<script src="https://unpkg.com/vue@3"></script>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="app">
			<button class="show-hide-btn" @click="toggleShowBooks">
				<span v-if="showBooks">Hide books</span>
				<span v-else>Show books</span>
			</button>
			<div v-if="showBooks">
				<h1 v-if="showBooks">Books List</h1>
				<ul>
					<li v-for="book in books">
						<h2>{{ book.title }}</h2>
						<h3>by {{ book.author }}</h3>
						<p>Released: {{ book.releaseYear }}</p>
						<p class="rating-text">Rating: {{ book.rating }}/10</p>
            <button class="rating-btn" @click="decreaseRating(book)">-</button>
            <button class="rating-btn" @click="increaseRating(book)">+</button>
					</li>
				</ul>
			</div>
			<div class="box" @mouseover="handleMouseOver">mouseover</div>
			<div class="box" @mouseleave="handleMouseLeave">mouseleave</div>
			<div class="box" @dblclick="handleDoubleClick">doubleclick</div>
			<div class="box" @mousemove="handleMouseMove">
				mouse position - x: {{x}}, y: {{y}}
			</div>
		</div>
		<script src="./app.js"></script>
	</body>
</html>
