* {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  padding: 100px 0;
  width: 400px;
  text-align: center;
  background: #ddd;
  margin: 20px;
  display: inline-block;
}

.rating-btn,
.book-item,
.rating-text {
  display: inline;
}

.rating-btn {
  margin: 0 0.5rem;
  width: 30px;
}